* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans", "sans serif";
}

main {
  background-color: #000;
  color: white;
}

.container {
  max-width: 1200px;
}

.row {
  display: flex;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

/* UTILITIES */
.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.p-10 {
  padding: 10px;
}

/* HEADER */

#menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

#logo {
  margin-left: 100px;
}

#logo img {
  height: 60px;
}

#menu li {
  padding: 7px;
}

#menu li a {
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
}

/* FOOTER */

#market {
  background-color: #0c7cec;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0px;
}

.buy {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.buy img {
  max-height: 50px;
  max-width: 70px;
  padding: 0px 10px;
}


